## Regresion Lineal en Python

### Paquete scikit-learn para regresion lineal y la seleccion de rasgos

In [2]:
from sklearn.feature_selection import RFE
from sklearn.svm import SVR
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("/Users/luisalberto/Documents/Projects/ads/Advertising.csv")

In [4]:
feature_cols = ["TV", "Radio", "Newspaper"]

In [5]:
X = data[feature_cols] #candidatas a variables predictoras
Y = data["Sales"] #variable a ser predecida

In [6]:
estimator = SVR(kernel="linear")
selector = RFE(estimator, 2, step=1)
selector = selector.fit(X,Y)

TypeError: __init__() takes 2 positional arguments but 3 positional arguments (and 1 keyword-only argument) were given

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
X_pred = X[["TV", "Radio"]]

In [9]:
lm = LinearRegression()

In [10]:
lm.fit(X_pred, Y)

LinearRegression()

In [11]:
lm.intercept_

2.9210999124051362

In [12]:
lm.coef_

array([0.04575482, 0.18799423])

In [13]:
lm.score(X_pred, Y)

0.8971942610828956

# Variables categoricas o cualitativas

In [14]:
df = pd.read_csv("/Users/luisalberto/Documents/Projects/ecom-expense/Ecom Expense.csv")

In [15]:
df.head()

,Transaction ID,Age,Items,Monthly Income,Transaction Time,Record,Gender,City Tier,Total Spend
0,TXN001,42,10,7313,627.668127,5,Female,Tier 1,4198.385084
1,TXN002,24,8,17747,126.904567,3,Female,Tier 2,4134.976648
2,TXN003,47,11,22845,873.469701,2,Male,Tier 2,5166.614455
3,TXN004,50,11,18552,380.219428,7,Female,Tier 1,7784.447676
4,TXN005,60,2,14439,403.374223,2,Female,Tier 2,3254.160485

In [16]:
dummy_gender = pd.get_dummies(df["Gender"], prefix = "Gender")
dummy_city_tier = pd.get_dummies(df["City Tier"], prefix = "City")

In [17]:
dummy_gender.head()

   Gender_Female  Gender_Male
0              1            0
1              1            0
2              0            1
3              1            0
4              1            0

In [18]:
dummy_city_tier.head()

   City_Tier 1  City_Tier 2  City_Tier 3
0            1            0            0
1            0            1            0
2            0            1            0
3            1            0            0
4            0            1            0

In [20]:
column_names = df.columns.values.tolist()
column_names

['Transaction ID',
 'Age ',
 ' Items ',
 'Monthly Income',
 'Transaction Time',
 'Record',
 'Gender',
 'City Tier',
 'Total Spend']