In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/luisalberto/Documents/Projects/datasets/gender-purchase/Gender Purchase.csv")

In [3]:
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [4]:
df.shape

(511, 2)

In [3]:
contingency_table = pd.crosstab(df["Gender"], df["Purchase"]) #cuenta las veces que ocurre un suceso
contingency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [6]:
contingency_table.sum(axis=0)

Purchase
No     231
Yes    280
dtype: int64

In [7]:
contingency_table.sum(axis=1)

Gender
Female    265
Male      246
dtype: int64

# Probabilidad condicional

In [14]:
#probabilidad de que el cliente compre sabiendo que es un hombre
#probabilidad de que el cliente compre sabiendo que es una mujer
from IPython.display import display, Math, Latex

In [15]:
display(Math(r'P(Purchase|Male) = \frac{Numero\ total\ de\ compras\ hechas\ por\ hombres}{Numero\ total\ de\ hombres}'))